footer, header {
    height: 50px;
    width: 100%;
    background-color: #1b8027;
}

header {
    height: 70px;
}

header ul {
    position: absolute;
    right: 30px;
}

header ul li {
    list-style-type: none;
    display: inline;
    padding: 5px;

}

header ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

header ul li a:hover{
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    color: black;
    animation: glow 2s ease-in-out;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }

    to {
        text-shadow: 0 0 20px #1b8027, 0 0 30px #1b8027, 0 0 40px #1b8027, 0 0 50px #1b8027, 0 0 60px #1b8027, 0 0 70px #1b8027, 0 0 80px #1b8027;
    }
}


#info-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: black;
}

#info-grid ul li {
    text-align: center;
    list-style: none;
    padding-bottom: 8px;
}

.grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#sub-grid {
    display: grid;
    grid-template-rows: 50% 50%;
}

.sub-grid-item {
    background-color: beige;
    margin-bottom: 5px;
}

form input, select {
    display: block;
    width: 300px;
    height: 40px;
    border: 2px solid black;
    margin-bottom: 18px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form {
    width: 500px;
    height: 450px;
    -webkit-box-shadow: -5px 10px 15px 3px #d0d0d0;
    border: 1px solid black;

}

input[type="submit"] {
    background-color: #1b8027;
    color: #ffffff;
}

.good {
    color: green;
}

.between {
    color: orange;
}

.bad {
    color: red;
}

h3 {

}